body{
    background-color: #f8f9fa;
}

#navbar-set{
    padding-left: 3rem;
    padding-right: 3rem;
}

.home{
    background-image: url(Rural-solar-renewafrica.biz_.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.home-2{
    background-image: url(chiela.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.home-3{
    background-image: url(reactor.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.vision{
    background-image: url(ourvis.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.social-actions{
    background-image: url(soc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.gcap{
    background-image: url(Ugandan_fishing_boats.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.gcap-grey{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.vision-text-box{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 1.5rem;
}

.vision-text{
    background-color: #85bf5d;
    color: white;
    display: block;
    padding: 0.5rem;
}

.page-topics{
    padding-left: 1rem;
}

#home-text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
}

.socials{
    text-decoration: none;
    color: white;
}

.socials :hover {
    text-decoration: none;
    color: grey;
}



.social-topic{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    background-color: #85bf5d;
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right: 3rem;
}

.social-grid{
    position: absolute;
    bottom: 10%;
}

.social-text-box-cont{
    background-color: #e4e4e4;
    position: relative;
    padding: 1rem;
}

.social-text-box{
    background-color: #e4e4e4;

}



h5{
    color: aliceblue;
}

.battery{
    background-color: #85bf5d;
}

.main-h1{
    color: white;
    font-size: 1 em;
}

.main-h2{
    color: white;
    font-size: 1 em;
}

.page-text{
    color: white;
    font-size: 1 em;
}

.page-text-1{
    color: black;
    font-size: 1 em;
}

/* h5{
    color: #85bf5d;
    font-size: 1 em;
} */


.green-box{
    background-color: #85bf5d;
    padding: 10px;
}

.green-box-2{
    margin-top: 200px;
    background-color: #85bf5d;
    padding: 10px;
}

.page-text-2{
    color: white;
    font-size: 1 em;
}

hr{
    margin: 50px;
    margin-top: 0px;
}

.paragraph{
    /* padding-left: 50px; */
    font-size: 1.2em;
    padding-bottom: 20px;
}

.btn-success{
    background-color: #85bf5d;
    outline: #85bf5d, solid, 10px;
    width: 100px;
    border-radius: 0%;
}

.btn-success:hover{
    background-color: white;
    color: #85bf5d;
    width: 100px;
    border-radius: 0%;
    outline: red, solid, 10px;
}

.text-white{
    text-decoration: none;
}

.my-container{
    margin-bottom: 100px;
}

.intro {
    background-image: url("/assets/ourvis.jpg");
    height: 879px;
    position: relative;
}

.nav-link-1{
    color: #85bf5d;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}

.learn-1{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.2em;
    border-radius: 1px;
    /* margin-top: 380px;
    margin-left: 50px; */
}

.learn-2{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.2em;
    border-radius: 1px;
    margin-top: 380px;
    margin-left: 50px;
}

.arrow{
    color: black;
    width: 45px;
    height: 25px;
}

.topic{
    color: white;
}

.home-paragraph{
    color: white;
}

.home-box{
    width: auto;
    height: auto;
    background-color: #85bf5d;
    padding: 1rem;
}

.btn{
   border-radius: 0;
}

.btn-success{
    border: #85bf5d;
}

.para, .h4c{
    background-color: #85bf5d;
    padding: 1rem;
    margin-bottom: 0;
}

.para-2{
    background-color: #e4e4e4;
    padding: 1rem;
    margin-bottom: 0;
}

.my-container-soc{
    position: relative;
}

.soa-topic{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #85bf5d;
    font-size: 1rem;
}

.my-container-soc-2{
    padding: 1% 5%;
}

.activities{
    background-color: #85bf5d;
    padding: 2%;
}

.grey-box{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: 500;
}

/* .grey-box-2{
    text-align: left;
    position: absolute;
    color: white;
    margin: auto;
    text-decoration: none;
    font-weight: 300;
    bottom: 0;
    left: 0;
    right: 0;
} */

.grey-box-text{
    background-color: #85bf5d; 
    padding: 0.5rem;
}

.grey-box-text-2{
    background-color:#858585;
    padding: 0.5rem;
    color: white;
}

.grey-box-text-2:hover{
    background-color: #85bf5d;
    padding: 0.5rem;
}

.ges-top{
    background-image: url(ges.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

/* .ges-top{

    position: absolute;
} */

.ges-topic{
    text-align: left;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #85bf5d;
    padding: 1rem;
    font-size: 1rem;
}

.soc-eo-topic{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #85bf5d;
    padding: .5rem;
    /* font-size: 1rem; */
}

.learn-topic{
    background-color: #85bf5d;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.content-section{
    padding: 1rem;
    align-items: start;

}

.container-fluid{
    position: relative;
}

.row{
    margin: 1rem;
    padding: 0;
}

.post{
    position: absolute;
}

.col{
    margin-bottom: 1rem;
}

.my-col{
    margin-bottom: 1rem;
}

.inset-cont{
    position: relative;
    margin-bottom: 20px;
} 

.inset-text{
    position: absolute;
    bottom: 0px;
    left: 0;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    font-weight: 500;  
}

.inset-text:hover{
    color:#85bf5d;
}

.navbar-toggler {
    border: 0;
}

.soa-pic{
    margin-bottom: 1rem;
}

.see-more{
    color: #85bf5d;
}

.large-box{
    font-size: larger;
}

.my-donate-btn{
    margin: 1rem;
    float: right;
}